@keyframes fadeToGhost {
  0% { 
    opacity: 1;
  }
  55% { 
    opacity: 0.3;
    background-color: rgba(255, 255, 255, 0.5);
  }
  85% {
    opacity: 0.3;
    background-color: rgba(255, 255, 255, 0.5);
  }
  100% { 
    opacity: 1;
  }
}

@keyframes rotateAndStay {
  0% { 
    opacity: 0;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  15% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  55% { 
    opacity: 1;
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  85% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
